#contact {
  .contact-card {
    width: 100%;
    max-width: 334px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px #00000029;
    border-radius: 4px;
    background-color: #eeeeee;
    align-items: center;
    z-index: 10;
  }
  .request {
    width: 85%;
    margin-top: 19px;
    display: flex;
    flex-direction: row;
  }
  h4 {
    color: #df0209;
    margin-left: 14px;
    font-size: 22px;
  }
  .form {
    margin: 19px 19px 5px 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button {
    width: 294px;
    background-color: #1cb72a;
    border-radius: 4px;
    height: 45px;
    margin-bottom: 20px;
    margin-top: 5px;
    outline: none;
    border-color: transparent;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  #contact {
    .contact-card {
      position: fixed;
      right: 4%;
      top: 13rem;
    }
  }
}

// @media (min-width: 1250px) {
//   #contact {
//     .contact-card {
//       position: fixed;
//       right: 10%;
//       top: 13rem;
//     }
//   }
// }

// @media (min-width: 1800px) {
//   #contact {
//     .contact-card {
//       position: fixed;
//       right: 18%;
//       top: 13rem;
//     }
//   }
// }
