#footer {
  width: 100%;
  display: flex;
  justify-content: center;

  .mobile-desktop {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
    margin-top: 20px;
  }
  .logo {
    width: 25%;
    max-width: 110px;
  }
  .logo-ibama {
    margin-left: 5px;
  }
  .ibama {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
}

@media (min-width: 550px) {
  #footer {
    .mobile-desktop {
      flex-direction: row;
      width: 70%;
      justify-content: space-between;
      margin: 16px 0;
    }
    .ibama {
      margin: 0;
    }
  }
}

@media (min-width: 768px) {
  #footer {
    .mobile-desktop {
      width: 30%;
      min-width: 500px;
    }
    .ibama {
      width: 60%;
    }
  }
}
