#header {
  background-color: #eeeeee;
  //mobile
  .mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
    .link {
      width: 29px;
      img {
        height: 100%;
      }
    }
  }
  .icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 7px 0;
  }

  .link {
    text-decoration: none;
  }

  // desktop
  .desktop {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 25px;
  }
  .icons-desktop {
    width: 100%;
    max-width: 1700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px 30px;
  }
  .loca-env {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: flex-end;

    .icon-frase:first-child {
      margin-right: 26px;
    }
  }
  .icon-frase {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
}

@media (max-width: 1250px) {
  #header {
    .icons-desktop {
      max-width: 700px;
    }
    .loca-env {
      width: 60%;
    }
  }
}
