#input {
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    width: 294px;
    max-width: 294px;
    position: relative;
  }
  .form-control {
    width: 100%;
    max-width: 255px;
    display: flex;
    justify-content: center;
    height: 36px;
    padding-left: 37px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    position: relative;
  }
  .css-yk16xz-control {
    width: 100%;
    min-width: 294px;
    display: flex;
    justify-content: center;
    height: 36px;
    padding-left: 10px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    position: relative;
  }
  .css-2b097c-container {
    min-width: 294px;
  }
  .css-b8ldur-Input {
    margin: 0 !important;
  }
  .css-g1d714-ValueContainer {
    margin-left: 16px;
    letter-spacing: 0px;
    color: #00000061;
    opacity: 1;
    text-align: left;
    font-weight: 300;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
  }

  .icon {
    position: absolute;
    left: 0.6rem;
    top: 0.6rem;
  }

  .error {
    font-size: 11px;
    color: rgb(255, 64, 64);
    font-weight: 400;
    margin-top: 3px;
  }
  :focus {
    outline: none;
    cursor: text;
  }
  ::placeholder {
    letter-spacing: 0px;
    color: #00000061;
    opacity: 1;
    text-align: left;
    font-weight: 300;
    font-size: 0.9rem;
  }
  :-ms-input-placeholder {
    letter-spacing: 0.08px;
    color: #00000061;
    opacity: 1;
    text-align: center;
    font-weight: 300;
  }

  ::-ms-input-placeholder {
    letter-spacing: 0.08px;
    color: #00000061;
    opacity: 1;
    text-align: center;
    font-weight: 300;
  }
}
