#section-6 {
  margin-top: 40px;
  width: 100%;

  .section-carousel {
    width: 100%;
  }
  .carousel {
    width: 100%;
  }
  .container-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .picture {
    width: 320px;
    height: 228px;
    padding: 8px;
    border: 1px solid #d5d5d5;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .carousel .rec .rec-carousel {
    position: relative;
    max-width: 400px;
  }
  .carousel .rec .rec-pagination .rec-dot {
    width: 15px;
    height: 15px;
    background-color: #d5d5d5;
    border: none;
  }
  .sc-iCfLBT {
    box-shadow: none;
  }
  .carousel .rec .rec-pagination .rec-dot_active {
    background-color: #808080;
  }

  .carousel .rec .rec-carousel .rec-arrow-left,
  .carousel .rec .rec-carousel .rec-arrow-right {
    transition: all 0.4s ease;
    position: absolute;
    z-index: 2;
    background-color: #d5d5d5;
    color: white;
    opacity: 0.5;
    top: 6rem;
    height: 39px;
    width: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 39px;
    font-size: 1.3rem;
  }
  .carousel .rec .rec-carousel .rec-arrow-left:hover,
  .carousel .rec .rec-carousel .rec-arrow-right:hover {
    transition: all 0.4s ease;
    opacity: 1;
  }

  .carousel .rec .rec-carousel .rec-arrow-left {
    left: 3rem;
  }
  .carousel .rec .rec-carousel .rec-arrow-right {
    right: 3rem;
  }

  h3,
  p {
    text-align: center;
    max-width: 323px;
    margin-top: 13px;
  }
}

@media (min-width: 768px) {
  #section-6 {
    .carousel .rec .rec-carousel {
      max-width: 800px;
    }
  }
}

@media (min-width: 1250px) {
  #section-6 {
    .carousel {
      max-width: 70%;
    }
    .carousel .rec .rec-carousel {
      max-width: 1200px;
    }
    .carousel .rec .rec-carousel .rec-arrow-left,
    .carousel .rec .rec-carousel .rec-arrow-right {
      top: 5.2rem;
    }
    .carousel .rec .rec-carousel .rec-arrow-left {
      left: 5rem;
    }
    .carousel .rec .rec-carousel .rec-arrow-right {
      right: 5rem;
    }
    .picture {
      width: 270px;
      height: 190px;
    }
    h3,
    p {
      text-align: center;
      max-width: 270px;
    }
  }
}
