#section-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 28px 0 18px 0;

  .logo-atendimento {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 200px;
    height: 51px;
  }

  .central {
    display: flex;
    flex-direction: column;
    margin-top: 28.7px;
  }
  h4 {
    font-size: 26px;
    color: #df0209;
  }
}

@media (min-width: 768px) {
  #section-1 {
    .logo-atendimento {
      flex-direction: row;
      max-width: 700px;
      justify-content: space-between;
    }
  }
}

@media (min-width: 950px) {
  #section-1 {
    .logo-atendimento {
      max-width: 800px;
    }
  }
}
@media (min-width: 1250px) {
  #section-1 {
    .logo-atendimento {
      max-width: 1700px;
      margin: 0 30px;
    }
  }
}
