#section-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 40px 0;

  .Civic-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .civic-name,
  .civic {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  img {
    width: 100%;
    max-width: 375px;
  }
  .civic-name {
    img {
      max-width: 318px !important;
    }
  }
}

@media (min-width: 768px) {
  #section-2 {
    background: url('../../assets/images/home/section2/bg.png') 20% 50%
      no-repeat padding-box;
    background-size: cover;
    height: 400px;
  }
}
