#section-5 {
  .new-civic {
    height: 415px;
    background: url('../../assets/images/home/section5/bg-mobile.png') 0% 50%
      no-repeat padding-box;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  .grad {
    background: transparent linear-gradient(180deg, #000000 0%, #00000000 0%) 0%
      0% no-repeat padding-box;
  }
  h1,
  h5 {
    text-align: center;
    color: white;
  }
  h5 {
    font-style: normal;
    margin-bottom: 28px;
  }
}

@media (min-width: 768px) {
  #section-5 {
    .new-civic {
      background: url('../../assets/images/home/section5/bg.png') 0% 80%
        no-repeat padding-box;
      background-size: cover;
    }
  }
}
