#section-7 {
  width: 100%;
  margin: 55px 0;
  .title-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-card,
  .container-expand {
    transition: all 0.4s ease;
    width: 100%;
    max-width: 335px;
    min-width: 320px;
    height: 196px;
    border: 1px solid #d5d5d5;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
  }
  .container-expand {
    transition: all 0.4s ease;
    height: 300px;
  }
  .picture-seta {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  svg {
    width: 50px;
    height: 50px;
    color: #000000;
  }
  .hide {
    display: none;
  }
  .show {
    animation: Show 1s forwards;
  }
  p {
    text-align: center;
    margin-top: 20px;
    width: 80%;
  }
  .seta {
    transition: all 0.4s ease;
  }
  .seta-rotate {
    transition: all 0.4s ease;
    transform: rotate(180deg);
  }
  .button {
    width: 90%;
    max-width: 335px;
    min-width: 320px;
    height: 36px;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    background-color: transparent;
    margin-top: 10px;
    letter-spacing: 0px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    cursor: pointer;
  }
  .button:hover {
    background-color: rgb(230, 228, 228);
  }
}

@media (min-width: 768px) {
  #section-7 {
    .title-cards {
      max-width: 70%;
      margin-left: 97px;
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
    .container-card {
      width: 270px;
      max-width: 270px;
      min-width: 270px;
      height: 370px;
      margin-right: 30px;
      margin-top: 30px;
    }
    .container-card:last-child {
      margin-right: 0;
    }
    .button {
      max-width: 230px;
      min-width: 230px;
    }
  }
}

@keyframes Show {
  0% {
    display: none;
    opacity: 0;
  }
  30% {
    display: block;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
