#section-8 {
  width: 100%;
  .social-networks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
  }
  .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .find,
  .central {
    border: 1px solid #df0209;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    max-width: 270px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .find {
    margin-top: 19px;
    flex-direction: row;
    img {
      width: 26px;
      height: 39px;
      margin-right: 17px;
    }
  }
  .central {
    margin-top: 9px;
    flex-direction: column;
    h4 {
      font-style: italic !important;
    }
  }
  .socials {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 270px;
    justify-content: space-evenly;
    margin-bottom: 24px;
    margin-top: 10px;
  }
  .border {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #c5c5c5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h4 {
    font-size: 22px;
    color: #df0209;
    font-style: normal;
  }
  h1 {
    margin-top: 26px;
    font-size: 18px;
    max-width: 270px;
  }
  a {
    text-decoration: none;
    margin: 0;
  }
}

@media (min-width: 768px) {
  #section-8 {
    .cards {
      flex-direction: row;
      max-width: 570px;
      margin-top: 19px;
    }
    .find {
      margin-right: 30px !important;
    }
    .find,
    .central {
      margin: 0;
    }
    h1 {
      max-width: 500px;
      font-size: 24px;
    }
  }
}
