#section-4 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  .choose-photo {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .pictures-cars {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 35px 0;
  }
  .car-parts {
    display: flex;
    flex-direction: column;
    margin-right: 42px;
    img {
      border: 1px solid #d5d5d5;
      margin-top: 11px;
    }
    img:first-child {
      margin-top: 0;
    }
    img:last-child {
      margin-bottom: 0;
    }
  }
  h1,
  h2 {
    text-align: center;
  }

  .picture-juntos {
    width: 100%;
    img {
      width: 100%;
      min-width: 200px;
    }
  }
}

@media (min-width: 768px) {
  #section-4 {
    justify-content: flex-start;
    .choose-photo {
      margin-left: 97px;
      max-width: 65%;
    }
    h1,
    h2 {
      text-align: left;
    }
  }
}
