@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,800;1,500&family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

h6 {
  color: #707070;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-left: 9px;
}

h5 {
  letter-spacing: -0.7px;
  color: #727b7a;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 500;
}

h4 {
  letter-spacing: 0px;
  color: #000000;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 800;
}

h3 {
  letter-spacing: 0px;
  color: #000000;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 800;
}

h2 {
  letter-spacing: 0px;
  color: #000000;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

h1 {
  letter-spacing: 0px;
  color: #000000;
  font-size: 34px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 800;
  text-align: left;
}

p {
  letter-spacing: 0px;
  color: #000000;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
}

span {
  letter-spacing: 0px;
  color: #000000;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  opacity: 1;
}

::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
}

button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h1,
  h2 {
    text-align: center;
  }
}
